.App {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5 1fr);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: white; /* light neutral background */
}

.square {
  display: flex;
  height: calc(100vh / 5); /* Adjust based on the number of rows */
  width: calc(100vw / 6);
  align-items: center;
  justify-content: center;
  outline: 1px solid black; /* Thin black outer border */
  box-sizing: border-box;
  background-size: cover;
  transition: background-color 1s ease, color 1s ease; /* Smooth transitions for background and text color */
  background-position: center;
}



/* Video styles */
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Gradient color classes for 24 hours */
/* Gradient color classes for 24 hours */
.hour-27 { background-image: url('../public/hour2.png') } /* Early evening */
.hour-2 { background-image: url('../public/hour2half.png') } /* Early evening */
.hour-3 { background-image: url('../public/hour3.png') } /* Early evening */
.hour-4 { background-image: url('../public/hour4.png') } /* Early evening */
.hour-5 { background-image: url('../public/hour5.png') } /* Early evening */
.hour-6 { background-image: url('../public/hour6.png') } /* Early evening */
.hour-7 { background-image: url('../public/hour7.png') } /* Early evening */
.hour-8 { background-image: url('../public/hour8.png') } /* Early evening */
.hour-9 { background-image: url('../public/hour9.png') } /* Early evening */
.hour-10 { background-image: url('../public/hour9.png') } /* Early evening */
.hour-11 { background-image: url('../public/hour10.png') } /* Early evening */
.hour-12 { background-image: url('../public/hour1049.png') } /* Early evening */
.hour-13 { background-image: url('../public/hour105.png') } /* Early evening */
.hour-14 { background-image: url('../public/hour11.png') } /* Early evening */
.hour-15 { background-image: url('../public/hour12.png') } /* Early evening */
.hour-16 { background-image: url('../public/hour13.png') } /* Early evening */
.hour-17 { background-image: url('../public/hour15.png') } /* Early evening */
.hour-18 { background-image: url('../public/hour18.png') } /* Golden hour begins */
.hour-19 { background-image: url('../public/hour19.png') } /* Golden hour peak */
.hour-20 { background-image: url('../public/hour20.png') } /* Early evening */
.hour-21 { background-image: url('../public/hour21.png') } /* Early evening */
.hour-22 { background-image: url('../public/hour22.png') } /* Early evening */
.hour-25 { background-image: url('../public/hour25.png') } /* Early evening */
.hour-23 { background-image: url('../public/hour23.png') } /* Early evening */
.hour-24 { background-image: url('../public/hour24.png') } /* Early evening */
.hour-26 { background-image: url('../public/hour26.png') } /* Early evening */
.hour-1 { background-image: url('../public/hour27.png') } /* Early evening */

/* Neutral background for empty squares */

.text {
  padding-left: 6px;
  padding-right: 6px;
  outline: 1px solid black; /* Thin black outer border */
  object-fit: cover;
  padding-top: 6px;

}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-style: italic;
  
}
